<%= render '/layouts/navbar' %>
<p id="notice"><%= notice %></p>

<h1 class="text-center">Book Sections</h1>
<div class = "container">
  <div class='table-responsive'>
    <table class="table table-striped align-middle">
      <thead>
        <tr class="text-center">
          <th>Gênero</th>
          <th>Quantidade máxima</th>
          <th>Quantidade de livros</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @book_sections.each do |book_section| %>
          <tr class="text-center">
            <td><%= book_section.title %></td>
            <td><%= book_section.max_quantity %></td>
            <td><%= book_section.books_quantity %></td>
            <td><%= link_to 'Show', book_section, class: "btn btn-primary" %></td>
            <td><%= link_to 'Edit', edit_book_section_path(book_section), class: "btn btn-primary" %></td>
            <td><%= link_to 'Destroy', book_section, method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<div class="text-center">
  <%= link_to 'New Book Section', new_book_section_path, class: "btn btn-primary" %>
</div>