<%= form_with model: book, url: url do |form| %>
  <%puts @book_section_selector %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :book_section %>
    <%= form.select :book_section, options_for_select(@book_section_selector.map { |selector| [selector['title'], selector['_id'] ]}), {}, required: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
